<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ogcapi-processes-1.0-part2${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut" value="" />
  <parameter name="ics" value="" />

  <listeners>
    <listener class-name="org.opengis.cite.ogcapiprocesses10part2.TestRunListener" />
    <listener class-name="org.opengis.cite.ogcapiprocesses10part2.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.ogcapiprocesses10part2.TestFailureListener" />
  </listeners>

  <test name="Deploy, Replace, Undeploy">
    <packages>
      <package name="org.opengis.cite.ogcapiprocesses10part2.conformance" />
      <package name="org.opengis.cite.ogcapiprocesses10part2.general" />
      <package name="org.opengis.cite.ogcapiprocesses10part2.dru" />
    </packages>
    <classes>
      <class name="org.opengis.cite.ogcapiprocesses10part2.SuitePreconditions" />
    </classes>
  </test>
  
  <test name="CWL">
    <packages>
      <package name="org.opengis.cite.ogcapiprocesses10part2.cwl" />
    </packages>
  </test>  
  
  <test name="OGC Application Package">
    <packages>
      <package name="org.opengis.cite.ogcapiprocesses10part2.ogcapppkg" />
    </packages>
  </test>   

  <test name="Docker">
    <packages>
      <package name="org.opengis.cite.ogcapiprocesses10part2.docker" />
    </packages>
  </test>   

</suite>
