<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ogcapi-processes-2.0-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut" value="" />
  <parameter name="ics" value="" />

  <listeners>
    <listener class-name="org.opengis.cite.ogcapiprocesses20.TestRunListener" />
    <listener class-name="org.opengis.cite.ogcapiprocesses20.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.ogcapiprocesses20.TestFailureListener" />
  </listeners>

  <test name="Deploy, Replace, Undeploy">
    <packages>
      <package name="org.opengis.cite.ogcapiprocesses20.conformance" />
      <package name="org.opengis.cite.ogcapiprocesses20.general" />
      <package name="org.opengis.cite.ogcapiprocesses20.dru" />
    </packages>
    <classes>
      <class name="org.opengis.cite.ogcapiprocesses20.SuitePreconditions" />
    </classes>
  </test>
  
  <test name="CWL">
    <packages>
      <package name="org.opengis.cite.ogcapiprocesses20.cwl" />
    </packages>
  </test>  
  
  <test name="OGC APPLICATION PACKAGE">
    <packages>
      <package name="org.opengis.cite.ogcapiprocesses20.ogcapppkg" />    
    </packages>
  </test>   

</suite>
